<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./inc/head') %>
</head>
<body>
    <% var name= 'Mert' %>
    <h1>Hakkımızda Sayfasına Hoşgeldiniz.</h1>
    <%- include('./inc/nav') %>
    <p><%= name %></p>
</body>
</html>